run/tmp/
run/multieducator/
educator-db
witness-db

# cabal new-build
.ghc.environment*
cabal.project
dist-newstyle

# GHC
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.o
*.hi

# hpack
*.cabal

# Nix
result*
stack-to-nix.yaml
*.drv

# Stack
.stack-work

# VScode
.vscode

# TeX
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
tmp
