dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.cabal
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.dir-locals.el
tmp/
run/tmp/
educator-db
witness-db
stylish-haskell.yaml
test.db

result*

# TeX
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
