body {
  font-size: 16px;
  line-height: 1.3;
  font-family: $font;
  min-height: 100%;
  height: auto;
  font-weight: 400;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: $color-black;
}

h1 {
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

button {
  border: none;
}

ul {
  li {
    list-style-type: none;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  max-width: $w + 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.page {
  color: $color-white;
  padding-top: 12px;
  flex: 0 0 auto;
  overflow: hidden;
}

.main {
  min-height: 100%;
}

@media screen and (max-width: 500px){
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

//Logo
.logo {
  max-width: 200px;
  width: 100%;
  &__img {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    width: 100%;
  }
}

//Legend
.pageLegend {
  text-align: center;
  text-shadow: 1px 1px 0 rgba($color-black, 0.05);
  margin-bottom: 64px;
  cursor: default;


  &__title {
    @include font(36px, 42px);
    font-weight: 400;
  }

  &__text {
    @include font(24px, 28px);
    font-weight: 300;
    padding-top: 16px;
  }
}


//Form
.formBox {
  //margin-bottom: 116px;

  &__label {
    color: $color-white;
    margin-bottom: 16px;
    display: block;
    cursor: default;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba($color-black, 0.05);
    font-weight: 300;
  }
}

.mainForm {
  position: relative;

  &__input {
    width: 100%;
    height: $height-search;
    line-height: $height-search;
    background: $color-white;
    border: 0;
    border-radius: 5px;
    padding: 0 155px 0 20px;
    outline: none;
    color: $color-text;
    transition: box-shadow $transition;
    font-weight: 400;

    &::placeholder {
      opacity: 1;
      color: $color-muted;
      font-weight: 300;
    }

    &:focus {
      box-shadow: 0 0 20px rgba($color-white, 0.8), 0 1px 3px 0 rgba($color-black, 0.3);
    }
  }

  &__send {
    position: absolute;
    right: 0;
    top: 0;
    width: 137px;
    height: $height-search;
    background: $color-accent-light;
    color: $color-white;
    border-radius: 0 5px 5px 0;
    text-shadow: 1px 1px 0 rgba($color-black, 0.05);
    outline: none !important;
    border: 0;
    transition: background-color $transition;
    font-size: 18px;
    z-index: 1;

    &:hover {
      background: darken($color-accent-light, 3%);
    }

    &.has-disabled,
    &:disabled {
      background: $color-border;
      cursor: default;
      pointer-events: none;
      user-select: none;
    }
  }

  @media screen and (max-width: 420px) {
    & {
      text-align: center;
    }

    &__input {
      text-align: left;
      padding-right: 20px;
    }

    &__send {
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
    }
  }
}

//Results
.checkResult {
  text-align: center;
  text-shadow: 1px 1px 0 rgba($color-black, 0.05);
  min-height: 116px;
  padding-top: 24px;
  padding-bottom: 24px;
  opacity: 0;

  &__title {
    @include font(23px, 28px);
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    flex: 0 0 auto;

    span {
      font-weight: 400;
    }
  }

  &__text {
    @include font(14px, 16px);
    flex: 0 0 auto;
    overflow: auto;
  }
}

//Helper
.pageHelper {
  text-align: center;

  &__nowallet {
    margin-bottom: 13px;
  }

  &__more {
    margin-top: 24px;
  }

  &__btn {
    font-size: 14px;
  }
}

//BG
.bg {
  width: 100%;
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center;
  padding-top: 20px;

  img {
    max-width: 100%;
  }
}

//Soc
.socials {
  flex: 0 0 auto;

  &__list {
    overflow: hidden;
    margin-bottom: -11px;
    transform: translateX(6px);
    line-height: 1;
  }

  &__item {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 20px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 11px;

    &:nth-child(5n) {
      clear: both;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icn {
    display: block;
    max-width: 100%;
    width: 20px;
  }

  @media screen and (max-width: 800px) {
    &__list {
      display: inline-block;
      vertical-align: top;
    }

    &__item:nth-child(5n) {
      clear: none;
    }
  }
}

//pseudoTable

.pseudoTable {
  display: table;
  width: 100%;

  .pseudoTable__row {
    display: table-row;
    transition: background $transition;
    &:hover {
      background: $color-hover-darker;
    }

    .link {
      color: $color-main;
    }
  }

  .pseudoTable__cell {
    display: table-cell;
    padding: 12px 15px;
    &:first-child {
      padding-left: 30px;
    }
    &:last-child {
      padding-right: 30px;
    }
  }

  @media screen and (max-width: 1200px){
    .cell__hash .link {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media screen and (max-width: 890px){
    .cell__slot,
    .cell__transactions,
    .cell__slotLeader {
      display: none;
    }

    .cell__hash .link {
      max-width: 200px;
    }
  }

  @media screen and (max-width: 500px){
    .cell__totalSent {
      display: none;
    }
    .pseudoTable__cell {
      padding: 10px;
    }
  }
}

.lastTransactions {
  @media screen and (max-width: 890px){
    .pseudoTable__row {
      display: flex;
      flex-wrap: wrap-reverse;
      padding-bottom: 15px;
      .cell {
        display: block;
        padding: 10px 15px;
      }
    }
    .pseudoTable {
      display: block;
    }
    .cell__hash {
      width: 100%;
      .link {
        max-width: none;
        display: block;
      }
    }
  }
}

// lastSlots

.lastSlots {
  padding-bottom: 65px;
}
.blockTitle{
  text-align: center;
}

.caption {
  font-weight: 500;
  border-bottom: 1px solid $color-border;
}

// lastTransactions
.lastTransactions {
  padding: 50px 0;
  background-color: $color-gray;
}

//paginationBlock

.paginationBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  .paginationBlock__btnForward, .paginationBlock__pagination {
    margin-right: 25px;
  }
}

.paginationBlock__pagination {
  color: $color-gray-text;
  font-style: italic;
  font-weight: 300;
}
.paginationBlock__page, .paginationBlock__allPage {
  color: $color-black;
  font-style: normal;
  font-weight: 600;
}

//transactionInformBlock

.transactionInformBlock {
  margin-bottom: 40px;
}

.transactionInformBlock__title {
  display: flex;
  padding: 0 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.transactionInformBlock__hash {
  margin-right: auto;
  padding: 15px 15px 15px 0;
  font-weight: 500;
  .link {
    display: inline;
  }
}

.transactionInformBlock__date {
  padding: 15px 40px 15px 15px;
  color: $color-gray-text;
}

.transactionInformBlock__fromTo {
  display: flex;
  padding: 0 15px;
}

.informBlock {
  padding: 5px 0 10px;
  width: 50%;
  font-size: 12px;
  &:first-child {
    padding-right: 30px;
  }
}

.informBlock__title {
  margin-bottom: 5px;
  color: $color-gray-text;
}

.transactionInformBlock__from {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    color: $color-main;
    width: 9px;
    height: 9px;
    border-right: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
    transform: rotate(-45deg);
    top: 29px;
    right: 13px;
  }
}

.transaction__summary {
  padding: 0 15px;
  max-width: 800px;
}

.summary__title {
  padding-bottom: 13px;
  border-bottom: 1px solid $color-border;
  font-size: 13px;
  font-weight: 600;
}

.summary__items {
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
}

.itemSummary {
  padding-right: 30px;
  &:last-child {
    padding-right: 0;
  }
}

.itemSummary__title {
  font-size: 12px;
  margin-bottom: 7px;
  color: $color-gray-text;
}

.itemSummary--included {
  .itemSummary__content {
    color: $color-main;
  }
}

@media screen and (max-width: 800px){
  .summary__items {
    flex-direction: column;
  }
  .itemSummary__title, .itemSummary__content {
    display: inline-block;
  }
  .itemSummary {
    padding: 0 0 15px 0;
  }
  .transaction__summary {
    max-width: 400px;
  }
  .itemSummary__title {
    width: 40%;
    padding-right: 15px;
    font-size: 16px;
  }
  .itemSummary__content {
    width: 60%;
    vertical-align: top;
  }
}

@media screen and (max-width: 600px){
  .transactionInformBlock__fromTo {
    flex-direction: column;
    .informBlock {
      width: 100%;
      padding-right: 0;
    }
    .transactionInformBlock__from {
      padding-bottom: 20px;
      &:after {
        transform: rotate(45deg);
        top: 55px;
        right: 50%;
      }
    }
  }
}

//transactions block
.transactions {
  background-color: $color-gray;
  padding-top: 50px;
  padding-bottom: 60px;
}

//slotInformationBlock

.slotInformationBlock {
  padding: 10px 0 60px;
}

.slotInform {
  display: flex;
}

.slotInform__hashes {
  flex-grow: 2;
  flex-basis: auto;
  .slotInformBlock__name {
    min-width: 22%;
  }

  .slotInformBlock__value {
    max-width: 100%;
  }
}

.slotInformBlock__name {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 15px;
}

.slotInformBlock__value {
  display: inline-block;
}

.slotInform__about {
  flex-basis: 320px;
  flex-grow: 1;
  margin-right: 30px;
  flex-shrink: 0;

  .slotInformBlock__name {
    min-width: 40%;
  }

  .slotInformBlock__value {
    min-width: 60%;
  }
}

.slotInformBlock__title {
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-border;
  margin-bottom: 10px;
}
.slotInformBlock__item {
  padding: 15px 0 0;
}

@media screen and (max-width: 1040px){

  .slotInform {
    flex-direction: column;
  }

  .slotInform__hashes {
    margin-top: 40px;
  }

  .slotInform__about {
    flex-basis: auto;
  }

  .slotInform__hashes {
    .slotInformBlock__name {
      min-width: 170px;
    }
  }
  .slotInform__about {
    .slotInformBlock__name {
      min-width: 140px;
    }
  }

}
