.header {
  background-color: $color-linear-gradient-substitute;
  background: $linear-gradient;
  padding: 30px 0;
  .container {
    padding: 0 45px;
  }
}

.titleBlock {
  display: flex;
}
.titleText {
  color: $color-white;
  font-size: 36px;
  font-weight: 300;
}

.titleBlock__text {
  width: 100%;
  margin-right: 200px;
  text-align: center;
}

@media screen and (max-width: 1200px){
  .titleBlock {
    flex-direction: column;
  }
  .titleBlock__text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 580px){
  .titleBlock__logo {
    max-width: none;
    text-align: center;
  }
}