//Base
$w: 800px;
$bg: #fff;
$img: '../img';
$fonts: '../fonts';

//Colors
$color-white: #fff;
$color-black: #000;

$color-main: #002590;
$color-main-darken: #01419A;

$color-accent: #05cec7;
$color-accent-darken: #04B7BF;
$color-accent-light: #00E7BF;
$color-alert: #FEEC9B;


$height-search: 36px;
$height-btn: 36px;
$height-footer: 105px;

$color-muted: #B1B1B1;
$color-border: #D8D8D8;
$color-gray: #787878;

//Transitions
$transition-main: 0.3s ease-in-out;


//Colors-text
$color-text: #212121;
$color-link: $color-accent;


$media-1: 800px;
$media-2: 650px;
$media-3: 420px;


//Fonts family
$font-Arial: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-ArialBlack: "Arial Black", "Helvetica CY", "Nimbus Sans L" sans-serif;
$font-ComicSans: "Comic Sans MS", "Monaco CY", cursive;
$font-Courier: "Courier New", "Nimbus Mono L", monospace;
$font-Georgia: Georgia, "Century Schoolbook L", Serif;
$font-Impact: Impact, "Charcoal CY", sans-serif;
$font-LucidaConsole: "Lucida Console", Monaco, monospace;
$font-LucidaSans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-Palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-Tahoma: Tahoma, "Geneva CY", sans-serif;
$font-TimesNew: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
$font-Trebuchet: "Trebuchet MS", "Helvetica CY", sans-serif;
$font-Verdana: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;



// Fonts options
$font: 'Conv_HelveticaNeueCyr', 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
$font-base: 62.5%;
$font-size: 16px;
$line-height: 1.5;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;


@mixin font($fontSize, $fontInterliase) {
  font-size: $fontSize;
  line-height: $fontInterliase / $fontSize;
}
