@import "_vars";


//Colors
.color-alert {
  color: $color-alert;
}


//Btn
.btn {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  transition: background-color $transition-main, border-color $transition-main, color $transition-main;
  padding: 7px 15px 8px;
  text-decoration: none;
  //&:active {
  //  transform: translateY(2px);
  //}
}

.btn--green {
  color: $color-accent-light;
  border: 1px solid currentColor;

  &:hover {
    text-decoration: none;
    //color: $color-accent;
    background: $color-accent-light;
    border-color: $color-accent-light;
    color: $color-white;
    text-shadow: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

.btn--blue-white {
  color: $color-main;
  border: 1px solid currentColor;
  padding: 0 25px 2px;

  &:hover {
    text-decoration: none;
    background: $color-main;
    border-color: $color-main;
    color: $color-white;
    text-shadow: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  &--active {
    text-decoration: none;
    background: $color-main;
    border-color: $color-main;
    color: $color-white;
    text-shadow: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
}


.btnHollow {
  border: 1px solid $color-white;
  color: $color-white;
  box-shadow: 0 0 0 transparent;
  transition: background-color $transition-main;
  text-shadow: 1px 1px 0 rgba($color-black, 0.1);

  &:hover {
    text-decoration: none;
    color: $color-accent;
    background: $color-white;
    text-shadow: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
}


//BORDERED LINK
.link {
  position: relative;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.hash {
  overflow: hidden;
  text-overflow: ellipsis;
}
