@import "_vars";

.body {
  background: $color-main;
  background: linear-gradient(45deg, $color-accent 0%, $color-main 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  max-width: $w + 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page {
  color: $color-white;
  padding-top: 90px;
  flex: 0 0 auto;
  overflow: hidden;
}