@import "_vars";
@import "_fonts";
@import "reset";
@import "assists";
@import "core";


//Logo
.logo {
  display: flex;
  margin-bottom: 20px;
  user-select: none;
  justify-content: center;
  align-items: center;

  &__img {
    display: inline-block;
    max-width: 200px;
    margin-right: 12px;
  }
  &__text {
    display: inline-block;
    padding: 0 12px;
    border-left: 1px solid $color-white;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 300;
  }
}


//Legend
.pageLegend {
  text-align: center;
  text-shadow: 1px 1px 0 rgba($color-black, 0.05);
  margin-bottom: 35px;
  cursor: default;


  &__title {
    @include font(36px, 42px);
    font-weight: 500;
  }

  &__text {
    @include font(24px, 28px);
    font-weight: 400;
    padding-top: 16px;
  }
}


//Form
.formBox {
  margin-bottom: 35px;

  &__label {
    color: $color-white;
    margin-bottom: 16px;
    display: block;
    cursor: default;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba($color-black, 0.05);
    font-weight: 400;
  }
}

.mainForm {
  position: relative;

  &__input {
    width: 100%;
    height: $height-search;
    line-height: $height-search;
    background: $color-white;
    border: 0;
    border-radius: 5px;
    padding: 0 155px 0 20px;
    outline: none;
    color: $color-text;
    transition: box-shadow 0.3s ease;
    font-weight: 500;

    &::placeholder {
      opacity: 1;
      color: $color-muted;
      font-weight: 400;
    }

    &:focus {
      box-shadow:  0 0 20px rgba($color-white, 0.8), 0 1px 3px 0 rgba($color-black, 0.3);
    }
  }

  &__send {
    position: absolute;
    right: 0;
    top: 0;
    width: 137px;
    height: $height-search;
    background: $color-accent-light;
    color: $color-white;
    border-radius: 0 5px 5px 0;
    text-shadow: 1px 1px 0 rgba($color-black, 0.05);
    outline: none !important;
    border: 0;
    transition: background-color 0.3s ease;
    font-size: 18px;
    z-index: 1;

    &:hover {
      background: darken($color-accent-light, 3%);
    }

    &.has-disabled, &:disabled {
      background: $color-border;
      cursor: default;
      pointer-events: none;
      user-select: none;
    }
  }

  @media screen and (max-width: $media-3) {
    & {
      text-align: center;
    }

    &__input {
      text-align: left;
      padding-right: 20px;
    }

    &__send {
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
    }
  }
}


//Results
.checkResult {
  text-align: center;
  text-shadow: 1px 1px 0 rgba($color-black, 0.05);
  padding: 20px 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: $color-white-transparent;
  border-radius: 5px;

  &__title {
    @include font(23px, 28px);
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    flex:0 0 auto;

    span {
      font-weight: 500;
    }
  }

  &__text {
    @include font(14px, 16px);
    flex:0 0 auto;
    overflow: auto;
  }
}



//Helper
.pageHelper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__nowallet {
    margin-right: 15px;
  }

  //&__more {
  //  margin-right: 24px;
  //}

  &__btn {
    font-size: 14px;
    margin-right: 25px;
  }

  @media screen and (max-width: 680px){
    &{
      flex-direction: column;

      &__nowallet {
        margin-right: 0;
        margin-bottom: 15px;
      }

      &__btn {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}



//BG
.bg {
  width: 100%;
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center;
  padding-top: 80px;

  img {
    max-width: 100%;
  }
}


//Footer
.footer {
  color: $color-white;
  //@include font(16px, 28px);
  //margin-top: auto;
  line-height: 1.2;
  overflow: hidden;
  flex: 0 0 auto;
  background: linear-gradient(95deg, $color-accent-darken 0%, $color-main-darken 100%);

  &__p {
    margin-bottom: 8px;

    &:last-child{
      margin-bottom:0;
    }
  }


  &_a {
    color: $color-white;
    text-decoration: none;
    position: relative;
    display: inline-block;


    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-footer;
  }

  &__sep {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 50px;
    background: $color-white;
    margin-left: 22px;
    margin-right: 22px;
    flex: 0 0 auto;
  }

  &__address {
    flex: 0 1 auto;
  }

  &__info {
    flex: 0 1 auto;
    text-align: right;
  }


  @media screen and (max-width: $media-1) {
    &__table {
      flex-wrap: wrap;
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      height: auto;
    }

    &__address {
      text-align: center;
    }

    &__info {
      text-align: center;
      margin-bottom: 10px;
    }

    &__p {
      display: inline-block;
      vertical-align: baseline;
      margin-bottom: 0;
    }

    &__sep {
      height: 1px;
      width: 100%;
      display: block;
      clear: both;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    &__soc {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }
}


//Soc
.socials {
  flex: 0 0 auto;

  &__list {
    display: flex;
    max-width: 180px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 11px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    transition: opacity $transition-main;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icn {
    display: block;
    max-width: 100%;
    width: 20px;
  }

  @media screen and (max-width: 800px) {
    &__list {
      max-width: 100%;
      justify-content: center;
    }

    &__item:nth-child(5n) {
      clear: none;
    }
  }
}

//modalLayer

.modalLayer {
  position: fixed;
  background-color: rgba(0,0,0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: scroll;
  top: 0;
  .modalLayer__modal {
    position: relative;
    max-width: 100%;
    background-color: $color-white;
    border-radius: 5px;
    padding: 30px 25px 35px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-black;
  }
  .modalLayer__title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
  }
  .modalContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid $color-border;
  }
  .modalContent__name {
    min-width: 100px;
    text-align: left;
    font-weight: 500;
    margin-right: 15px;
    white-space: nowrap;
  }
  .modalContent__hash {
    margin-right: 30px;
    font-weight: 400;
  }
  .modalContent__button {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: 90px;
    text-align: center;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .9s ease-in-out;
  }
  .modalContent__prompt {
    text-align: left;
    font-weight: 400;
  }

  .modalContent__link {
    color: $color-main;
  }
  @media screen and (max-width: 680px){
    .modalContent {
      flex-wrap: wrap;
    }
    .modalContent__name {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
    .modalContent__hash, .modalContent__button {
      margin-bottom: 10px;
    }
  }
}
.closeModal {
  cursor: pointer;
  color: $color-gray;
  font-size: 24px;
  position: absolute;
  top: 5px;
  right: 20px;
  &:hover {
    color: $color-black;
    text-decoration: none;
  }
}
