@import "_vars";
@-ms-viewport {width:device-width}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,img,em,strike,strong,s,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,section,time,mark,audio,video,main {background:transparent;border:0;font-size:100%;margin:0;padding:0;outline:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,nav,section,main,menu {display:block}


html {font-size:$font-base;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;-ms-overflow-style:scrollbar;box-sizing:border-box;}
body {
  font:#{$font-size}/#{$line-height} $font;
  text-align:left;
  background:$bg;
  color:$color-text;
  overflow: auto;
  font-weight: 200;
  letter-spacing: 0.03em;
}

html, body {height:auto;-webkit-text-size-adjust:auto;-ms-text-size-adjust:auto;}

*, *:before, *:after {box-sizing:inherit;}

ol, ul {list-style:none}
img {border-style:none;vertical-align:middle;}
b, strong {font-weight:500}

//links
a {color:$color-accent-light;background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline;text-decoration-skip:spaces;transition:color 0.5s;text-decoration-skip:objects;
  text-decoration: none;}
a:focus {outline:thin dotted}
a:hover {text-decoration: underline;}
a:hover, a:active {outline:0}

a, area, button, input:not([type="range"]), label, select, textarea, .btn {-ms-touch-action: manipulation;touch-action: manipulation;}


strong {
  font-weight: 400;
}

//tables
table {background-color:transparent;border-collapse:collapse;border-spacing:0;max-width:100%;width:100%;empty-cells:show;}
td, td img {vertical-align:top}
th {text-align: inherit}

hr {box-sizing: content-box;height:0;overflow:visible;margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid $color-border;}

svg:not(:root) {overflow:hidden;}
audio, video {display:inline-block;}
audio:not([controls]) {display:none;height:0;}

[hidden] {display:none;}
[tabindex="-1"]:focus {outline: none !important}

//inputs
input, textarea, select, button {color:inherit;font:inherit;line-height:$form-line-height;font-size:100%;margin:0;vertical-align:baseline;}
textarea {overflow:auto;vertical-align:top;resize:vertical;}
input {line-height:normal}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;padding:0;}
input[type="checkbox"] {vertical-align:baseline}
input[type="radio"] {vertical-align:text-bottom}
button, label, input[type="button"], input[type="submit"], input[type="reset"] {cursor:pointer}
input[type="search"] {-webkit-appearance:textfield;outline-offset:-2px;}
button, select {text-transform:none}
button, input {overflow:visible}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button;cursor:pointer;}
button[disabled], html input[disabled] {cursor:default}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0;}